@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
@font-face {
  font-family:Dancing_Script;
  src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
#font-heading
{
  font-family:Dancing_Script;
}
#logo-fontfamilly
{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 112px;
}
.img-fluid-14{
     width: 15%;
    height: auto;
    padding-left: 4px;
}
#form-bg{
  padding: 15px;
  border: 1px solid #02020214;
}
.custom-select {
  font-size: 12px;
}

.col-form-label {
  font-size: 12px;
}
label{
  font-size: 12px;
}
.form-control{
  font-size:12px;
}
.from-bg1{
  background: #e5e5e5;
  padding-top: 10px;
  margin-top: 16px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2rem + 0px);
  padding: 0.375rem 0.75rem;
  line-height: 1.0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-group-sm>.btn, .btn-sm{
  font-size: .75rem;
}
.table td, .table th
{
  border-top: 0px solid #dee2e6;
  padding:3px 0px;
}
.table tbody tr{
  margin-left: 10px;
}
.table {
  width: 100%;
  margin-bottom: 0rem;
  margin-top: 32px;
  background-color: transparent;
}
.article-loop {
  display: block;
  width: 100%;
  padding: 1em 2em;
  margin: 1em auto;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}
#icon-14{
  position: relative;
  left: 280px;
}
#animation-1
{
  position: relative;
  top: 34px;
}
.img-fluid-4{
  width: 400px;
  height: 100px;
}
td .d-flex .span-2{
  width: 410px;
}
.bg-light-1
{
  background:linear-gradient(176deg, #c21cc5, #f10000);
  color:#fff;
  height: 40px;
}
#font-10{
  font-size:11px;
}
#header-menu1{
  margin-top: 3px;
  margin-bottom: -9px;
}
.font-10{
  color: #646464;
  font-size: 12px;
  text-align: justify;
}
#anchor{
  font-size:11px;
  text-decoration: none;
}
#logo-fontfamilly1
{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    /* top: 22px; */
    left: -191px;
}
#free-link {
  font-size: 12px;
  width: 102px;
  position: relative;
  left: 60px;
}
#free-link1 {
  font-size: 12px;
  width: 133px;
  position: relative;
  left: 64px;
}
#free-link2 {
  font-size: 12px;
  width: 114px;
  position: relative;
  left: -48px;
}
.logo-fontfamilly
{
    font-family: 'Bebas Neue', cursive;
    position: relative;
    top: 20px;
}
h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#header-font
{
    color:#ff5b00 ;
    
}
#header-font-1
{
    color: #ff0000bf;
}
#header-menu
{
  padding-top: 0px;
  border-bottom: 1px solid green;
  padding-bottom: 10px;
}

/* fixed social*/
#fixed-social {
  position: fixed;
  top: 223px;
  right:0px;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
   line-height: 40px;
  width: 40px;
  margin-bottom: 9px;
  z-index: 2;
}
#fixed-social a:hover>span{
 visibility: visible;
 right: 41px;
 opacity: 1;
} 
#fixed-social a span {
 line-height: 40px;
   right: 60px;
   position: absolute;
   text-align: center;
   width: 120px;
   visibility: hidden;
   transition-duration: 0.5s;
   z-index: 1;
   opacity: 0;
}
.fixed-facebook{
  background-color: #00AAE5;
}
.fixed-facebook span{
 background-color: #00AAE5;
}
.fixed-twitter{
 background-color: #7D3895;

}
.fixed-twitter span{
  background-color: #7D3895;
}
.fixed-gplus{
 background-color: #00AF54;

}
.fixed-gplus span{
  background-color: #00AF54;
}
.fixed-linkedin{
 background-color: #3764b9;

}
.fixed-linkedin span{
  background-color: #3764b9;
}
.fixed-instagrem{
 background-color: #d3228c;

}
.fixed-instagrem span{
  background-color: #d3228c;
}
.fixed-tumblr{
 background-color: #ff0000;

}
.fixed-tumblr span{
  background-color: #ff0000;
}
/*end fixed social*/

#icon-header
{
    margin-right:4px;
    color: #ff0000bf;
}
body
{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Sintony', sans-serif;
}
#advertisement
{
    margin-top:60px;
    background-color: #151515;
    background-image:url("assets/img/ppstern2.jpg");
    background-repeat: repeat;
    padding: 0px 60px 60px 60px;
    border-bottom: 1px solid yellowgreen;
}
.nav-item .nav-link
{
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  text-indent: 17px;
}
#header-menu1 h6{
   font-size:12px;
}
#header-menu2 h6{
  font-size:12px;
}
#anchor span{
  line-height: 10px;
}
#main_navbar
{
    margin-top: -22px;
    padding-bottom: 2%;
}
.navbar-light .navbar-nav .nav-link:hover
{ 
    color:#ffffff !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
  color: #f7f7f7;
  background-color: #ff5b00;
  border-color: #dee2e6 #dee2e6 #fff;
  font-family: 'Montserrat', sans-serif;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::before
{
  content:'*';
  margin-right: 3px;
}
span
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
}
#logo-fontfamilly
{
  max-width:270px;
  height: auto;
}

#logo-fontfamilly1 {
  max-width: 205px;
  height: auto;
  position: relative;
  top: 2px;
}
#refer {
  position: absolute;
  right: 22%;
  top: 23px;
}
.article-loop {
  display: block;
  width: 49%;
  height: auto;
  padding: 1em 2em;
  margin: 1em auto;
  border: 1px solid #ddd;
  background-color: #f7f4f4;
}
#refer1 {
  position: absolute;
  left: 49%;
  top: 23px;
}
#logo-footer
{
  max-width: 270px;
  height: auto;
}
#header-10
{
  position: relative;
  left: 350px;
}
.nav-item .nav-link
{
  color: #ff5b00;
}
.line
{
  border-left:5px solid #ff5b00;
}
#paragraph-2
{
  padding:1%;
  font-size: 16px;
}
#dream-startz
{
  margin-top: 100px;
}
.goog-te-gadget .goog-te-combo
{
  margin: 26px 0;
}
p
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  text-align: justify;
}
.padd-1
{
  padding-top: 44px;
}
.padd-2
{
    position: relative;
    top: 18px;
    left: 120px;
}
.padd-3
{
    position: relative;
    top: 24px;
    left:50px;
}
.banner-1
{
    background:url("../img/banner/s1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height:60vh;
}
.banner-2
{
    background:url("../img/banner/s2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height:60vh;
}
.banner-3
{
    background:url("../img/banner/s3.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height:60vh;
}
#icon-size
{
    font-size: 35px;
    position: absolute;
    left: 25px;
    top: 40px;
    color: #ffffff;
}
#icon-size1
{
    font-size: 35px;
    position: absolute;
    left: 25px;
    top: 132px;
    color: #ffffff;
}
#box--1
{
background:#141e34db;
padding-top:20px;
padding-bottom:20px;
}
.para-1
{
    font-family: 'Bebas Neue', cursive;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Sintony', sans-serif;
    font-weight: 600;
    line-height: 50px;
}
.line-1
{
    background: #ff5b00;
    width: 163px;
    height: 3px;
    text-align: center;
    display: flex;
    position: relative;
    left: 42%;
}
.line-2
{
    background: #ff5b00;
    width: 50px;
    height: 8px;
    text-align: center;
    display: flex;
    position: relative;
    left: 48%;
    top: -6px;
}
.line-5
{
  background: #ff5b00;
  width: 155px;
  height: 3px;
  text-align: center;
  display: flex;
  position: absolute;
  left: 15%;
  top: 25px;
}
.line-6
{
  background: #ff5b00;
  width: 50px;
  height: 8px;
  text-align: center;
  display: flex;
  position: relative;
  left: -39%;
  top: 23px;
}

.absoloute-1
{
    position: absolute;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-top-left-radius:10px;
}
.absoloute-2
{
    position: absolute;
    left: 270px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
.absoloute-3
{
    position: absolute;
    left:0px;
    top: 420px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
#ad
{
  background:yellowgreen;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius:175px ;
}
.tech
{
  position: absolute;
  bottom: 139px;
  left: 97px;
  width: 97px;
  background: #ff5b00b8;
  padding-top: 6px;
  padding-bottom: 1px;
  color: white;
  border-left-style: double;
  border-right-style: double;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.tech1
{
  position: absolute;
  bottom: 1px;
  right: 35px;
  width: 92px;
  background: #ff5b0085;
  padding-top: 9px;
  padding-bottom: 1px;
  color: white;
}

#img-4
{
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border: ridge;
  border-bottom: 5px solid #28e34a;
  border-left: 5px solid #ff0000b0;
  border-right: 5px solid #ff0000b0;
  border-top: 5px solid #28e34a;
}
.font--5
{
  font-size: 12px;
}
#footer-menu
{
  background-color: #14406c !important;
  padding-top:50px;
  padding-bottom:20px;
}
#footer-menu-1
{
  background-color: #ff5b00;
}
#clients
{
  padding-bottom: 60px;
}
#next-addition
{
  background:linear-gradient(359deg,#87828285,#0000007d),url(../img/cinema_effect.jpg);
  padding-bottom: 43px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 43px;
}
#select
{
  padding-top: 50px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ff5b00;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius:10px;
    cursor:pointer;
  }
  .card .profile{
     transition: 0.2s;
  }
  .card:hover .profile{
    transform:scale(1.1);
    border-top-right-radius:50px;
    border-top-left-radius:50px;
  }
  
  .card .content{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
  }
  .font-size--3{
     font-size:12px;
  }
  .btn-success1{
    background:#037a1e!important
  }
  .bg-info1
  {
    background: #ff0016;
  }
  .bg-info1 h5
  {
    font-weight: bolder;
  }
  .card .content .back{
    position: absolute;
    width: 68%;
    height: 106%;
    z-index: 1;
    padding: 10px;
  }
  
  .from-left{
    top:0;
    left:-100%;
  }
  .card:hover .content .from-left {
     left:0%;
  }
  
  .from-bottom{
    top:100%;
    left:0;
  }
  .card:hover .content .from-bottom {
     top:0%;
  }
  
  .from-right{
    top:0%;
    right:-100%;
  }
  .card:hover .content .from-right {
     right:0;
  }
  
  .card .content .back h3{
    font-size:15px;
    letter-spacing:2px;
  }
  .card .content .back .tem-img{
    border-radius:100%;
  }
  
  .card .content .back .des{
    font-size:13px;
    padding:20px 0px;
  }
  .card .content .back .social-icon{
    list-style:none;
    margin:0px;
    padding:0px;
  }
  .card .content .back .social-icon li{
    display:inline-block;
  }
  
  .card .content .back .social-icon li a{
    display:block;
    background:#333;
    color:#fff;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:100%;
  }
  
  /*Button*/
  .button--1
  {
    background: #ff5b00;
    color: white;
    font-weight: bold;
  }
  .artist-1
  {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* #artist-2
  {
    background: #F8F8F8;
    border: 1px solid #ebebeb
  } */
  .artist-2
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .span-1
  {
    margin-left: 5px;
    color: #636668;
  }
  .muted-1
  {
    font-size: 14px;
  }
  .muted-2
  {
    font-size: 14px;
    padding-left:13px;
    color: #000000cf;
  }
  .muted-3
  {

    font-size: 14px;
    padding-left:34px;
    color: #000000cf;
  }
  .muted-4
  {
    font-size: 14px;
    padding-left:52px;
    color: #000000cf;
  }
  .span-2
  {
    font-weight: 500;
    font-size: 13px;
    color: #151516;
    line-height: 20px;
  }

  .username{
    color: #309f38;
    font-weight: 800;
    font-size: 18px;
  }
  .img-fluid-1{
    max-width:100%;
    height:250px;
  }
  #btn-sm
  {
    margin-right: 6px;
  }
  #art
  {
    margin-bottom: 10px;
  }

  #btn--3
  {
    background: #ff5b00;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: #ff5b00;
    color: white;
  }
  .appointment
  {
      background: #ff5b00;
      /* padding: 1px; */
      text-align: center;
      padding-top: 12px;
      padding-bottom: 5px;
      position: relative;
      top: 44px;
  }
  .img--10
  {
    width: 100%;
    height: auto;
    padding: 12px;
  }
  .exp
  {
    font-size: 12px;
    color: #ff5b00;
  }
  .para--1
  {
    font-size: 10px;
    color: #ff5b00;
    padding-right: 5px;
  }
  .head-1
  {
    font-size: 14px;
    padding-right: 5px;
  }

